<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="ironbear775.com.musicplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:value="5af7b675a40fa375ab0000de" android:name="UMENG_APPKEY"/>
        <meta-data android:value="CoolApk" android:name="UMENG_CHANNEL"/>

        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".Service.MusicService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
        <service android:name=".Service.SleepService" />

        <activity
            android:name=".Activity.MusicList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


            <meta-data
                android:name="android.max_aspect"
                android:value="2.1" />

        </activity>
        <activity android:name=".Activity.SearchActivity">

        </activity>

        <activity
            android:name=".Activity.Setting"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".Activity.About"
            android:launchMode="singleTask">

        </activity>

        <receiver android:name=".Activity.MusicList$positionBroadcast">
            <intent-filter>
                <action android:name="sendPosition" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.MyIntroActivity"
            android:theme="@style/IntroTheme">

        </activity>

        <activity
            android:name=".Activity.TagEditActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity
            android:name=".Activity.OpenActivity"
            android:theme="@style/SleepTimerTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Service.MediaButtonReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths" />
        </provider>

        <activity
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.Equalizer">

        </activity>

        <!--<receiver android:name=".WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>

            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info"/>
        </receiver>
        <appwidget-provider xmlns:android="http://schemas.android.com/apk/res/android"
            android:minWidth="250dp"
            android:minHeight="180dp"
            android:previewImage="@drawable/default_album_art"
            android:initialLayout="@layout/widget_layout"
            android:resizeMode="horizontal|vertical"
            android:widgetCategory="home_screen|keyguard">
        </appwidget-provider>-->
    </application>

</manifest>
